body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0A0A0A;
  color: white;
  font-family: Corbel, sans-serif;
  font-size: 22px;
  padding: 20px;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

img {
  max-width: 100vw;
  max-height: calc(100vh - 100px); /* adjust to leave room for text */
  object-fit: contain;
  cursor: pointer;
  border: 3px solid #420069;
  border-radius: 12px;
}
