body {
  font-family: Corbel, sans-serif;
  font-size: 22px;
  color: #ffffff;

  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0A0A0A;
  overflow: hidden;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

p {
  margin-top: 12px;
  white-space: normal;
}
