body {
  font-family: Corbel, sans-serif;
  font-size: 22px;
  color: #ffffff;
  
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0A0A;
  overflow: hidden; /* prevents scrollbars */
}

img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  border: 3px solid #420069;
  border-radius: 12px;
}
