@font-face {
  font-family: "League Spartan";
  src: url("font/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "League Spartan";
  font-size: 22px;
  color: #ffffff;
  background-color: #0A0A0A;
}